/**************************************************
    Custom styles
**************************************************/
h1 {
    border-bottom: 1px solid #ccc;
    margin-top: 3rem;
    padding-bottom: .25rem;
}
