/**************************************************
    Form validation styles
**************************************************/
form {
    legend {
        font-size: initial;
    }

    .is-invalid {

        .form-control {
            border-color: $red !important;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25), 0 0 6px $red;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25), 0 0 6px $red;
        }

        .form-control-feedback {
            margin-right: 0.25rem;
        }

        .fa-exclamation-triangle:before {
            color: $red;
        }

        .form-control-feedback { // Default position of success icon inside input element.
            // position: absolute;
            // top: 2.75rem;
            // right: 1.5rem;
        }

        .help-block {
            color: $red;
            font-style: italic;
        }
    }

    .is-valid {
        .form-control {
            border-color: $green;
        }

        .form-control:focus {
            box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25), 0 0 6px $green;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25), 0 0 6px $green;
        }

        .fa-check:before {
            color: $green;
        }

        .form-control-feedback { // Default position of success icon inside input element.
            position: absolute;
            top: 2.75rem;
            right: 1.5rem;
        }
    }
}
